  body {
    font-family: Arial, sans-serif;
    background-color: #800000; 
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .header {
    text-align: center; 
    color: white; 
    font-size: 100px; 
    font-weight: 400; 
    word-wrap: break-word;
    color: #fff;
    padding: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .sidebar {

    background-color: #3D0000;
    float: right;
    margin-right: 0 auto;
    width: 308px;
    height: 263px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2.50px white solid;
  }
  
  .textbox {
    float: left;
    padding-top: 20px;
    margin-left: 490px;    
    width: 533px;
    height: 350px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2.50px black solid;
}


  .box {
    float: left;
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid white;
}

.text {
  margin: 0 auto; 
  width: 514px; 
  height: 300px; 
  text-align: center;
  color: black; 
  font-size: 20px; 
}

.puretext {
  padding-top:10px; 
  justify-content: center; 
  margin: 0 auto; 
  align-items: center; 
  text-align: center; 
  width: 377px; 
  height: 65px; 
  color: white; 
  font-size: 22px; 
  font-weight: 400; 
  word-wrap: break-word;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.hlink {
  font-size: 22px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:azure;
}

.image{
  margin-top: -20px;
  margin-left: 190px;
  width:150px; 
  height:150px;
}

.sidebartext {

  margin-left: 0px;
}

.button {

  /*margin-left: 20px;*/
  margin-left: 0 auto;
  width: 157px; 
  height: 55px; 
  background-color:#270000;
  color: rgb(255, 255, 255); 
  font-size: 20px; 
  font-family: Caesar Dressing; 
  font-weight: 400; 
}

.heading {
  padding-top:10px; 
  justify-content: center; 
  margin: 0 auto; 
  align-items: center; 
  text-align: center; 
  width: 377px; 
  height: 65px; 
  color: white; 
  font-size: 22px; 
  font-weight: 400; 
  word-wrap: break-word;
  font-family:Georgia, 'Times New Roman', Times, serif;
}