  body {
    font-family: Arial, sans-serif;
    background-color: #000000; 
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .header {
    text-align: center; 
    color: white; 
    font-size: 200px; 
    font-weight: 400; 
    word-wrap: break-word;
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
  .sidebar {

    margin-top: 100px;
    background-color: #272727;
    float: left;
    width: 300px;
    height: 260px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2.50px white solid;
    border-radius: 150px;
  }

  .box {
    float: right; 
    margin: 0 auto; 
    margin-right: 490px; 
    width: 533px; 
    height: 407px; 
    background: white; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border: 2.50px black solid;
  }

  .textbox {
    float: right;
    padding-top: 40px;
    margin: 0 auto;
    margin-right: 455px;
    width: 600px;
    height: 550px;
    background: rgb(77, 77, 77);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2.50px lightgray solid;
    border-radius: 125px;
  }

  .textboxProf {
    float: right;
    padding-top: 40px;
    margin: 0 auto;
    margin-right: 455px;
    width: 600px;
    height: 500px;
    background: rgb(77, 77, 77);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2.50px lightgray solid;
    border-radius: 120px;
  }

  .textboxQual {
    float: right;
    padding-top: 40px;
    margin: 0 auto;
    margin-right: 455px;
    width: 600px;
    height: 1100px;
    background: rgb(77, 77, 77);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2.50px lightgray solid;
    border-radius: 120px;
  }

  .textboxServ {
    float: right;
    padding-top: 40px;
    margin: 0 auto;
    margin-right: 455px;
    width: 600px;
    height: 620px;
    background: rgb(77, 77, 77);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2.50px lightgray solid;
    border-radius: 120px;
  }

  .text {
    margin: 0 auto;
    width: 514px;
    height: 300px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .textQual {
    margin-left: 50px;
    width: 514px;
    height: 300px;
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .qual {
    width: 514px;
    height: 300px;
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .puretext {
    padding-top:10px; 
    justify-content: center; 
    margin: 0 auto; 
    align-items: center; 
    text-align: center; 
    width: 377px; 
    height: 65px; 
    color: white; 
    font-size: 22px; 
    font-weight: 400; 
    word-wrap: break-word;
    font-family:'Times New Roman', Times, serif;
  }

  .hlink {
    font-family:'Times New Roman', Times, serif;
    color:azure;
  }
  
  .image{

    margin-top: 50px;
    margin-left: 220px; 
    width:150px; 
    height:150px;
  }

  .sidebartext {

    margin-left: 50px;
  }

  .button {

    margin-left: 70px;
    width: 157px; 
    height: 55px; 
    background-color:#686868;
    color: rgb(255, 255, 255); 
    font-size: 20px; 
    font-family: Caesar Dressing; 
    font-weight: 400; 
  }

  .heading {
    padding-top:10px; 
    justify-content: center; 
    padding-top: 100px;
    margin: 0 auto; 
    align-items: center; 
    text-align: center; 
    width: 380px; 
    height: 100px; 
    color: white; 
    font-size: 26px; 
    font-weight: 400; 
    word-wrap: break-word;
    font-family:'Times New Roman', Times, serif;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2.50px lightgray solid;
    border-radius: 120px;
    background-color:#686868;
  }

  .heading::before,
  .heading::after {
    content: '';
    position: absolute;
    width: 40px; 
    height: 40px; 
    background-color: rgb(66, 167, 255);
    border-radius: 50%;
  }

  .heading::before {
    top: 270px; 
    left: 650px;
  }

  .heading::after {
    top: 270px;
    right: 650px;
  }